[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
pytest = "*"
django-cors-headers = "*"
django-safedelete = "*"

[dev-packages]
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
