[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.28"
djangorestframework = "==3.16.1"
psycopg2-binary = "==2.9.11"
django-environ = "==0.13.0"
djangorestframework-simplejwt = "==5.5.1"
pycryptodome= "==3.23.0"
pytest = "==8.4.2"
django-cors-headers = "==4.9.0"
django-safedelete = "==1.4.1"
requests = "==2.32.5"
celery = "==5.6.2"
redis = "==7.2.1"

[dev-packages]
pytest-cov = "==7.0.0"
pytest-django = "==4.11.1"

[requires]
python_version = "3.9"
